div {
    margin: 20px;
}

h1 {
    color: #3498db;
    padding: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dff9fb;
}

.buscador-container {
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-excel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilos para el botón Descargar Excel */
.descargar-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.descargar-btn:hover {
    background-color: #3498db;
}

.button-container-timer-back {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back {
    background-color: #3498db;
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-right: 70%;
}

.logout {
    background-color: #3498db;
    padding: 20px;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-right: 20px;
    align-self: flex-end;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

