<div class="modal-dialog modal-dialog-scrollable" role="document" [ngClass]="{'modal-lg': isLargeModal}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="button-container-timer-back">
        <h4 class="modal-title">Editar Incidente: {{ idIncidenteHeader }}</h4>
        <button class="logout" (click)="logout()">Cerrar Sesión</button>
      </div>
      <div style="font-size: 24px; color: #3498db;">
        {{ formattedCountdown }} <span style="font-size: 16px; color: #3498db;"><---- Tiempo para que termine tu sesión</span>
      </div>
      <h3>
        Recordar que los elementos con 
        <span class="text-danger">*</span> 
        en su costado son de carácter obligatorio para la SEC
      </h3>                
    </div>
    <div class="modal-body">
      <div class="table-container">
        <table class="table">
          <tbody>
            <ng-container *ngFor="let key of incidentKeys; let i = index">
              <ng-container *ngIf="key !== 'fechaHoraRegistro'; else hiddenColumn">
                <tr>
                  <ng-container *ngIf="i < incidentHeaders.length">
                    <th>{{ incidentHeaders[i] }}</th>
                  </ng-container>
                  <td>
                    <ng-container *ngIf="key !== 'urlPDF' && key !== 'urlXML'; else linkCell">
                      {{ incident[key] }}
                    </ng-container>
                    <ng-template #linkCell>
                      <a [href]="incident[key]" target="_blank">
                          Ver PDF
                      </a>
                    </ng-template>
                  </td>
                  <td *ngIf="formIncident.controls[key]" [ngClass]="{ 'readonly': isReadOnly(key) }">
                    <ng-container *ngIf="!isReadOnly(key); else readOnlyContent">
                      <ng-container *ngIf="isComboBoxField(key)">
                        <form [formGroup]="formIncident">
                          <select [formControlName]="key" class="form-control">
                            <option *ngFor="let option of getOptionsByKey(key)" [value]="option.value">{{ option.label }}</option>
                          </select>
                        </form>
                      </ng-container>
                  
                      <ng-container *ngIf="isTextAreaField(key)">
                        <form [formGroup]="formIncident">
                          <textarea 
                            [formControlName]="key"
                            class="form-control"
                            [maxlength]="key === 'mensajeDX' ? 400 : null"
                            [required]="isRequiredField(key)"
                          ></textarea>
                        </form>
                      </ng-container>

                      <ng-container *ngIf="!isComboBoxField(key) && !isTextAreaField(key)">
                        <form [formGroup]="formIncident">
                          <input
                            [formControlName]="key"
                            class="form-control"
                            [type]="isDateField(key) ? 'date' : 'text'"
                            [pattern]="getPattern(key)"
                            [required]="isRequiredField(key)"
                            [min]="getMinDate()"
                            (keydown)="preventInput($event, key)"
                            [placeholder]="key === 'montoRefacturado' || key === 'montoDocumento' ? 'formato 0.0 sin $' : ''"
                          />
                          <div *ngIf="formIncident.get(key).errors && formIncident.get(key).errors.required">
                            <span class="error-message">Campo requerido</span>
                          </div>
                          <div *ngIf="formIncident.get(key).errors && formIncident.get(key).errors.maxLength">
                            <span class="error-message">Máximo 20 caracteres permitidos</span>
                          </div>
                          <div *ngIf="formIncident.get(key).errors && formIncident.get(key).errors.pattern">
                            <span class="error-message">Valor no válido</span>
                          </div>
                        </form>
                        <div *ngIf=" key === 'montoDocumento' "  style="height: 10px;"></div>
                      </ng-container>
                    </ng-container>
                    <ng-template #readOnlyContent>
                      {{ incident[key] }}
                    </ng-template>
                  </td>                
                </tr>
              </ng-container>
              <ng-template #hiddenColumn></ng-template>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="guardarCambios(incident)" [disabled]="!camposObligatoriosCompletados()">Enviar Cambios</button>
      <br>
      <h3>
        Para enviar, completar campos con 
        <span class="text-danger">*</span>
      </h3> 
    </div>
  </div>
</div>
